@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: rgb(11, 20, 55);
  display: flex;
  color: #fff;
}

.main{
  width: 100%;
}

.container{
  padding: 15px;
}

a{
  color: #fff;
}


/* NAV START  */

nav{
  width: 290px;
  height: 125vh;
  display: flex;
  flex-direction: column;
  background: rgb(17, 28, 68);
}

nav> h1{
  font-weight: 400;
  padding: 35px 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav> h1> span{
  font-weight: bold;
}

nav>ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0px 15px;
  padding-top: 40px;
  font-size: 13px;
}


nav>ul>li{
  display: flex;
  align-items: center;
}

nav>ul>li>i{
  padding-right: 10px;
  font-size: 20px;
}

nav>.upgrade {
  width: 210px;
  background: linear-gradient(135deg, #9886ff 0%, #4218ff 100%);
  height: 190px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

nav>.upgrade>.upgrade_icon {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 5px solid #000;
  background: linear-gradient(130deg, #8690ff 0%, #4a18ff 100%);
}

nav>.upgrade>h2 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

nav>.upgrade>h5 {
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}


/* NAV END */



/* HEADER START  */


header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  margin-block: 10px;
}

header>.logo-part>h5{
  font-weight: 400;
}

header>.logo-part>h2{
  font-weight: 600;
}

header>.search-part{
  display: flex;
  align-items: center;
  background-color: rgb(17, 28, 68);
  padding: 13px 15px;
  border-radius: 40px;
  gap: 10px;
}

header>.search-part>.input-part{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgb(11, 20, 55);
}

header>.search-part>.input-part>input{
  background: transparent;
  color: #fff;
}

header>.search-part>.input-part>input::placeholder{
  color: #fff;
}

header>.search-part>i{
  font-size: 25px;
}

header>.search-part>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* HEADER END  */



/* STATISTICS START */

.statistics-wrapper{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-block: 20px;
}

.statistics-wrapper>.statistics{
  background-color: rgba(17, 28, 68, 1);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex: 1;
}

.statistics-wrapper>.statistics>.stcs-icon{
  background-color: rgb(27, 37, 75);
  border-radius: 50%;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.statistics-wrapper>.statistics>.stcs-icon>i{
  font-size: 22px;
}

.statistics-wrapper>.statistics>.stcs-img {
  margin-right: 0;
  background-color: transparent;
}

.statistics-wrapper>.statistics>.stcs-img>img{
  object-fit: cover;
  width: 45px;
  border-radius: 50%;
}

.statistics-wrapper>.statistics>.stcs-icon-blue{
  background-color: rgb(15, 179, 251);
}

.statistics-wrapper>.statistics>.statistic{
  line-height: 1.2;
}

.statistics-wrapper>.statistics>.statistic>span{
  color: rgb(163, 174, 208);
  font-size: 8px;
  white-space: nowrap;
}

.greenspan{
  color: rgb(1, 181, 116);
}

.statistics-wrapper>.statistics>.statistic>p{
  font-weight: 500;
}


/* STATISTICS END */


/* REVENUE START */

.revenue{
  display: flex;
  gap: 20px;
  margin-block: 20px;
}


.half{
  width: 50%;
  background-color: rgba(17, 28, 68, 1);
  border-radius: 20px;
  padding: 20px;
}

.half>.half-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.half>.half-header>.mnth{
  display: flex;
  gap: 6px;
  background-color: rgb(27, 37, 75);
  border-radius: 7px;
  padding: 12px 13px 11px 12px;
}

.half>.half-header>p{
  font-size: 18px;
  font-weight: 500;
}

.half>.half-header>.stcs-icon{
  background-color: rgb(27, 37, 75);
  border-radius: 10px;
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.half>.spendings-graphics{
  display: flex;
}

.half>.spendings-graphics>.spendings>p{
  font-size: 25px;
  font-weight: 600;
}

.half>.spendings-graphics>.spendings>.total{
  display: flex;
  gap: 15px;
  font-size: 12px;
}

.half>.spendings-graphics>.spendings>.total>span{
  color: rgba(163, 174, 208, 1);
  white-space: nowrap;
}

.triangle-flex{
  display: flex;
  color: rgba(1, 181, 116, 1);
  gap: 10px;
  align-items: center;
}

.triangle-flex>.triangle-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(1, 181, 116, 1);
}

.half>.spendings-graphics>.spendings>.track{
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
}

.half>.spendings-graphics>.spendings>.track>.track-check{
  color: #fff;
  background-color: rgba(1, 181, 116, 1);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
}

.half>.spendings-graphics>.spendings>.track>p{
  color: rgba(1, 181, 116, 1);
  font-weight: 500;
}

.half>.spendings-graphics>.graphics{
  padding: 30px;
}


.half>.spendings-graphics>.graphics img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.half>.spendings-graphics>.graphics>ul{
  display: flex;
  justify-content: space-between;
  color: rgba(163, 174, 208, 1);
  font-size: 10px;
  margin-top: 30px;
}

.half>.half-header{
  display: flex;
  justify-content: space-between;
}

.half>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* REVENUE END */


/* CHECK-TABLE START */


.check-table{
  display: flex;
  gap: 20px;
}

.check-table>.half>.half-header>.stcs-icon>p{
  font-size: 30px;
  padding-bottom: 50%;
}

.check-table>.half>table{
  width: 100%;
  text-align: left;
}

.check-table>.half>table th{
  font-size: 12px;
  font-weight: 300;
  color: rgba(163, 174, 208, 1);
  padding-bottom: 5px;
}

.check-table>.half>table td{
  font-size: 10px;
  font-weight: 400;
}

.check-table>.half>table tr{
  line-height: 25px;
}

input{
  margin-right: 5px;
}

.quarter{
  width: 25%;
  background-color: rgba(17, 28, 68, 1);
  border-radius: 20px;
  padding: 20px;
}

.quarter>.quarter-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

}

.quarter>.quarter-header>p{
  color: rgba(163, 174, 208, 1);
}

.quarter>p{
  font-size: 25px;
  font-weight: 600;
}

.quarter>p>span{
  color: rgba(163, 174, 208, 1);
  font-size: 12px;
  font-weight: normal;
}

.quarter>img{
  width: 100%;
  object-fit: cover;
}

.quarter>ul{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: rgba(163, 174, 208, 1);
  font-size: 12px;
}

.second{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.second>.quarter-header>p{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.second>.quarter-header>.triangle-flex>span{
  color: rgba(163, 174, 208, 1);
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(163, 174, 208, 1);
}

.second>.quarter-main{
  padding-top: 20px;
}

.second>.quarter-main>img{
  width: 50%;
}

.second>.quarter-main>.quarter-wrapper{
  background-color: rgb(27, 37, 75);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.second>.quarter-main>.quarter-wrapper .dot-files-system{
  display: flex;
  align-items: center;
  gap: 8px;
}

.second>.quarter-main>.quarter-wrapper>.files{
  border-right: 1px solid #323b5d;
  padding-right: 15px;
}

.second>.quarter-main>.quarter-wrapper h6{
  color: rgba(163, 174, 208, 1);
  font-weight: 400;
}

.second>.quarter-main>.quarter-wrapper .dot{
  width: 10px;
  height: 10px;
  background-color: purple;
  border-radius: 50%;
}

.second>.quarter-main>.quarter-wrapper .two{
  background-color: #39b8ff;
}

.second>.quarter-main>.quarter-wrapper p{
  font-weight: 500;
}


/* CHECK-TABLE END */



/* TEAM START */

.team{
  display: flex;
  gap: 20px;
  margin-block: 20px;
}

.team>.quarter>.quarter-head{
  display: flex;
  gap: 5px;
}


.flame-icon{
  background-color: #1b254b;
  border-radius: 15px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
}


.team>.quarter>.quarter-head>.quarter-head-txt>span{
  font-size: 8px;
  color: rgba(163, 174, 208, 1);
}

.team>.quarter>.quarter-head>.quarter-head-txt>p{
  font-size: 10px;
  font-weight: 500;
}

.team>.quarter>.quarter-main{
  padding-block: 20px;
  font-size: 12px;
  font-weight: 600;
}

.quarter-footer{
  width: 100%;
  }

.quarter-footer-header{
  display: flex;
  gap: 15px;
}

.time{
  display: flex;
  gap: 5px;
  align-items: center;
}

.time>p{
  font-size: 10px;
  white-space: nowrap;
}

.quarter-subfooter{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 5px;
}

.quarter-subfooter>.avatars{
  width: 90px;
}

.quarter-subfooter>.avatars>img{
  width: 100%;
  object-fit: cover;
}



.quarter-subfooter>.btn>button{
  color: #fff;
  font-weight: 500;
  background-color: #7551ff;
  padding: 5px 15px;
  border-radius: 10px;
}

.quarter>.quarter-header>span{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.plus-circle{
  background-color: #1b254b;
  border-radius: 10px;
  padding: 5px 6px;
  display: flex;
  align-items: center;
}

.member-wrapper{
  max-height: 53px;
  background-color: #1b254b;
  border-radius: 10px;
  padding: 8px 12px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.member-wrapper>.member{
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-wrapper>.member>.member-info{
  line-height: 1.1;
}

.member-wrapper>.member>.member-info>p{
  font-size: 12px;
}

.member-wrapper>.member>.member-info>span{
  color: #a3aed0;
  font-size: 8px;
}

.fingerprint>p{
  font-size: 16px;
}

.fingerprint>span{
  font-size: 10px;
  color: #a3aed0;
}

.fingerprint>button{
  margin-top: 10px;
  background-color: #7551ff;
  color: #fff;
  width: 100%;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.quarter-hero{
  width: 100%;
  height: 60%;
  background-image: url(./images/starbucks.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.quarter-hero>img{
  width: 50px;
  position: absolute;
  bottom: -30px;
  left: 10px;
}

.watch{
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  padding: 5px;
  background-color: #7f979b;
  border-radius: 5px;
}

.quarter-content{
  padding-top: 40px;
}

.quarter-content>h4{
  font-size: 20px;
  font-weight: 600;
 }


.quarter-content>p{
  color: #a3aed0;
  font-size: 14px;
  margin-top: 5px;
}






/* TEAM END */










/* FOOTER START */

footer{
  display: flex;
  justify-content: space-between;
  margin: 30px 20px  0px;
  font-size: 12px;
}

footer>h4{
  font-weight: 400;
  color: #fff;
}

footer>ul{
  display: flex;
  gap: 15px;
}

footer>ul>li{
  color: #fff;
}

/* FOOTER END */



