@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: rgb(11, 20, 55);
  display: flex;
  color: #fff;
}

.main{
  width: 100%;
}


/* NAV START  */

nav{
  width: 290px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(17, 28, 68);
}

nav> h1{
  font-weight: 400;
  padding: 35px 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav> h1> span{
  font-weight: bold;
}

nav>ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0px 15px;
  padding-top: 40px;
  font-size: 13px;
}


nav>ul>li{
  display: flex;
  align-items: center;
}

nav>ul>li>i{
  padding-right: 10px;
  font-size: 20px;
}


/* NAV END */



/* HEADER START  */


header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  align-items: end;
}

header>.logo-part>h5{
  font-weight: 400;
}

header>.logo-part>h2{
  font-weight: 600;
}

header>.search-part{
  display: flex;
  align-items: center;
  background-color: rgb(17, 28, 68);
  padding: 13px 15px;
  border-radius: 40px;
  gap: 10px;
}

header>.search-part>.input-part{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgb(11, 20, 55);
}

header>.search-part>.input-part>input{
  background: transparent;
}

header>.search-part>.input-part>input::placeholder{
  color: #fff;
}

header>.search-part>i{
  font-size: 25px;
}

header>.search-part>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* HEADER END  */



/* STATISTICS START */

.statistics-wrapper{
  display: flex;
  gap: 20px;
  padding: 15px;
}

.statistics-wrapper>.statistics{
  background-color: rgba(17, 28, 68, 1);
  border-radius: 20px;
  padding: 20px 17px;
  display: flex;
  flex: 1;
}

.statistics-wrapper>.statistics>.stcs-icon{
  background-color: rgb(27, 37, 75);
  border-radius: 50%;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.statistics-wrapper>.statistics>.stcs-icon>i{
  font-size: 22px;
}

.statistics-wrapper>.statistics>.stcs-img {
  margin-right: 0;
  background-color: transparent;
}

.statistics-wrapper>.statistics>.stcs-img>img{
  object-fit: cover;
  width: 45px;
  border-radius: 50%;
}

.statistics-wrapper>.statistics>.stcs-icon-blue{
  background-color: rgb(15, 179, 251);
}


.statistics-wrapper>.statistics>.statistic{
  line-height: 1.2;
}

.statistics-wrapper>.statistics>.statistic>span{
  color: rgb(163, 174, 208);
  font-size: 8px;
  white-space: nowrap;
}

.greenspan{
  color: rgb(1, 181, 116);
}

.statistics-wrapper>.statistics>.statistic>p{
  font-weight: 500;
}




/* STATISTICS END */








